.CFUserTextEncoding
.DS_Store*
.Trash/
.aws/
.bash_history
.cache/
.cargo/bin/
.aws/
.cache/
.cargo/
.config/gtk-2.0/
.config/stripe/
.docker/
.gnupg/
.hgrc
.lesshst
.local/
.mozbuild/
.npm/
.pnpm-state/
.python_history
.rustup/
.ssh/
.swiftpm/
.zsh_history
.zsh_sessions/
iOS-desktop/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/